@import './config.scss';

.cardsFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  div.card {
    margin-top: 20px;
    width: 350px;
  }
}

.imageDiv {
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  // .screenshotImage {

  // }
}

.descriptionText {
  margin-top: 0px
}

.chipsDiv {
  display: flex;
  flex-wrap: wrap;
  min-height: 74px;
  div {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}